<!-- referst to static folder -->
{% load static %}
<!doctype html>
<html lang="en">
<body style="background-color:black;">
  <head>
    <!-- Required meta tags -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    
    <title>IntervalometerPi | {% block title %}{% endblock title %}</title>
  </head>
  <style>
    
  </style>
  <body>
    <div class="container mt-3 mb-3">
        {% block content %}
        {% endblock content %}
    </div>



  </body>
</html>
